MONGO_URI="mongodb://username:password@localhost:27017"
PORT="3000"

# MongoDB Database Names
DB_ATTRACTIONS="attractions-db"
DB_GEO="geo-db"
DB_PROFILE="profile-db"
DB_RATE="rate-db"
DB_RECOMMENDATION="recommendation-db"
DB_RESERVATION="reservation-db"
DB_REVIEW="review-db"
DB_USER="user-db"
