<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chess App</title>
    {% load static %}
    <link rel="icon" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <script src="{% static 'js/main-menu.js' %}" defer></script>
</head>
<body>

    <div id="usernameDialog" class="fixed h-screen w-screen bg-transparent backdrop-blur-sm top-0 left-0 z-100 font-[Inter] hidden justify-center items-center">
        <div class="bg-neutral-950 flex-col flex text-neutral-50 w-100 border-t-2 border-b-2 p-5 items-center justify-center gap-4">
            <h2 class="text-3xl">Username</h2>
            <input
                id="usernameInput"
                class="relative h-10 text-xl outline-0 bg-neutral-900 focus:bg-neutral-800 duration-200 px-4 w-full"
                type="text" 
                maxlength="15"
                placeholder="Enter Username"
            />

            <div class="group text-lg border-r-2 border-neutral-200 bg-transparent h-12 relative ml-auto">
                <div class="absolute left-0 bg-teal-600 w-0 h-full group-hover:w-full duration-500"></div>
                <button id="usernameBtn" class="px-4 py-2 bg-transparent relative text-right w-full">Confirm</button>
            </div>
        </div>
    </div>

    <main class="bg-neutral-950 h-screen w-screen p-5 text-neutral-200 font-[Inter] overflow-clip z-10">
        <h1 class="text-5xl text-right mr-50">chess app.</h1>

        <div class="h-full flex items-center justify-center pb-50 gap-20">

            <div class="group border-b-2 border-neutral-200 bg-transparent">
                <input
                id="roomInput"
                class="relative h-full text-xl w-50 text-center outline-0 focus:bg-neutral-900 duration-200 px-6 py-4"
                type="text" 
                maxlength="4"
                placeholder="Enter Room ID"
                />
            </div>

            <div class="flex flex-col gap-5">
                <div class="group text-2xl border-b-2 border-neutral-200 bg-transparent h-12 relative">
                    <div class="absolute right-0 bg-cyan-900 w-0 h-full group-hover:w-full duration-500"></div>
                    <button id="createBtn" class="px-4 py-2 bg-transparent relative text-right w-full">Create Room</button>
                </div>

                <div class="group text-2xl border-b-2 border-neutral-200 bg-transparent h-12 relative">
                    <div class="absolute right-0 bg-teal-700 w-0 h-full group-hover:w-full duration-500"></div>
                    <button id="joinBtn" class="px-4 py-2 bg-transparent relative text-right w-full">Join Room</button>
                </div>
            </div>

        </div>

        <h3 id="hello" class="fixed bottom-5 right-5 text-neutral-50 text-xl"></h3>

    </main>
    
</body>
</html>
